.form {
    width: 50%;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.form-field {
    margin: 1rem 0;
    display: flex;
}
.form-field label {
    flex-basis: 20%;
    font-size: 1.3rem;
}
.form-field input {
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}
.form-field textarea {
    flex-basis: 80%;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}
.form button {
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 50%;
}
.form button:hover {
    background-color: orange;
    color: white;
}
